### Import Package and Connect

In [1]:
#import sqlite3 package
import sqlite3

In [3]:
#create a connection to a database. Create the db if not available.
connection = sqlite3.connect("classroomDB.db")
connection.close()

### Create Table

In [4]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""

cursor.execute(create_table)

connection.commit()

connection.close()

### Insert Rows

In [5]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89),
                  (5, "Brandon", "M", 100, 100, 100)]

connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                          (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                          VALUES
                          ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                       student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
connection.commit()

connection.close()

### Extract Data

In [7]:
connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)
    
connection.close()

(1, u'Raj', u'M', 70, 84, 92)
(2, u'Poonam', u'F', 87, 69, 93)
(3, u'Nik', u'M', 65, 83, 90)
(4, u'Rahul', u'F', 83, 76, 89)
(5, u'Brandon', u'M', 100, 100, 100)

### MySql Database

In [9]:
!conda install -y -q pymysql

Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 4.4.10
  latest version: 4.5.2

Please update conda by running

    $ conda update -n base conda

#### Import Package

In [10]:
import pymysql

#### Connect To Host

In [21]:
cnx = {'host': 'mysqldb.cx2cs9jyfcll.us-east-1.rds.amazonaws.com',
       'username': 'test',
       'password' : 'test123456',
       'db' : 'classroomDB'}

connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

connection.close()

#### Create Table

In [22]:
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

create_table = """
               CREATE TABLE classroom(
               student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
               );
               """

cursor.execute(create_table)

connection.commit()

connection.close()

#### Insert Data

In [23]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89),
                  (5, "Brandon", "M", 100, 100, 100)]

connection = connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                          (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                          VALUES
                          ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                       student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
connection.commit()

connection.close()

#### Extract Data

In [24]:
connection = connection = connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)
    
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)
(5, 'Brandon', 'M', 100, 100, 100)

### Microsoft SQL Server Database